<template>
    <div class="contain w-full sm:w-2/3 mx-auto bg-blue-200 flex justify-start px-6 py-10 -mt-8 text-blue-600 text-2xl font-bold">
        Todo is an achtech ltd product which can be used to help you input your scheduled task, the inspiration came in from upgradegroup ltd cameroon 
    </div>
</template>
<script>

export default {
    
}
</script>

<style scoped>
    .contain{
        height: 70vh;
    }
</style>