<template>
    <div>
        <div class="w-full sm:w-2/3 mx-auto  flex justify-center px-6 py-10 -mt-8 text-blue-600 text-2xl font-bold">
            <!-- <h3 class="w-full text-center  text-teal-500 font-2xl italic font-bold welcomemsg">Welcome {{ this.currentUser.username }}</h3> -->
            <section class="todoapp">
            <header class="w-full flex flex-col bg-blue-200 items-start">
                <h1 class="mt-16 text-center w-full italic">Add Todo</h1>

                <!-- container of title and priority input -->
                <div class="flex flex-col justify-center flex-wrap pt-4 mb-4">
                    <!-- title input -->

                    <div class="w-full px-3 mb-6 md:mb-0">
                        <label class="text-blue-800 font-bold ">
                            Title
                        </label>
                        <input v-model="todoData.ToDoTitle" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" placeholder="title">
                    </div>
                    <!-- priority input -->
                    <div class="w-full px-3 mb-6 md:mb-0 flex flex-col items-start mb-6">
                        <label for="priority" class="text-blue-800 font-bold ">Priority</label>
                       <select v-model="todoData.selectedPriority"
                            id="priority"
                            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" >
                            <option v-for="priority in priorities">{{priority}}</option>
                        </select>
                    </div>

                 </div>

                      <!-- section for input of todo details and addtodo button -->
                <div class="flex flex-col justify-center px-4 items-center flex-wrap">
                    <div class="flex flex-col mb-6"> 
                        <!-- <input type="text" class="new-todo" placeholder="Ajouter une tache" v-model="todoData. activityDetail" @keyup.enter="addTodo"> -->
                        <label for="tododescription" class="text-blue-800 font-bold ">Task Description</label>
                        <textarea v-model="todoData. activityDetail" name="tododescription" id="" cols="30" rows="3" placeholder="Enter todo description here" class="border-2 bg-gray-200 pl-4 border-gray-200 rounded sm:mr-12 focus:bg-white focus:border-gray-500 "></textarea>
                    </div>

                    <div class="flex flex-col items-center mb-6">
                        <input type="submit" name="addTodo" @click.prevent="addTodo" class="border-blue-400 border-2 px-12 py-2  rounded-bl-full rounded-tr-full bg-teal-500 hover:bg-blue-500 hover:shadow-outline text-white" value="Add Todo">
                    </div>
                </div>
            </header>

            <!-- main body starts here -->
            <!-- <div class="main">
                <input id="toggle-all" type="checkbox"  class="toggle-all" v-model="allDone">
                <label for="toggle-all">
                    Mark all as complete</label>
                <ul class="todo-list">
                    <li class="todo" :class="{completed: todoelt.completed, editing: todoelt === editing}" :key="idx" v-for="(todoelt, idx) in filteredTodos">
                        <div class="view">
                            <input type="checkbox" name="" class="toggle" v-model="todoelt.completed" @click="chageTaskState(todoelt)">
                            <label @dblclick="editTodo(todoelt)">{{ todoelt.name }}</label>
                            <button class="destroy" @click.prevent="deleteTodo(todoelt)"></button>
                        </div>
                        <input type="text" class="edit" v-model="todoelt.name" @keyup.enter="doneEdit(todoelt)" @blur="doneEdit(todoelt)" @keyup.esc="cancelEdit" v-focus="todoelt === editing">
                    </li>
                </ul>
            </div> -->
            <footer class="footer" v-show="hasTodos">
                <span class="todo-count">
                    <strong>{{ remaining }}</strong> taches a faire
                </span>
                <ul class="filters">
                    <li><a href="#" :class="{selected: filter === 'all'}" @click.prevent="filter = 'all'">All task</a></li>
                    <li><a href="#" :class="{selected: filter === 'todo'}" @click.prevent="filter = 'todo'">To do</a></li>
                    <li><a href="#" :class="{selected: filter === 'done'}" @click.prevent="filter = 'done'">Done</a></li>
                </ul>
                <button class="clear-completed" @click.prevent="deleteCompleted" v-show="doneTask">Delete completed tasks</button>
            </footer>
            <br>
        </section>
        </div>
        <!-- <div v-else>
            <Login></Login>
        </div> -->
    </div>
</template>

<script>


export default {
    name:'Todo',
    props: {
        currentUser:{

        },
    },
    data(){
        return {
            completeTodo:[],
            todos: this.value,
            newTodo: '',
            filter: 'all',
            editing: null,
            oldTask: null,
            taskid: '',
            description: '',
            currentUserName:'',
            priorities: ['Urgent', 'Important', 'Urgent and Important', 'Faire'],
            todoData:{
                 ToDoTitle:'',
                 activityDetail:'',
                 selectedPriority: 'Urgent',
            }
        }
    },
 
    mounted(){
        console.log('Mounted all')
        this.getTasks()
    },
    watch: {
        value(value){
            this.todos = value
        }
    },
   
    }
        
</script>

