<template>
        <div>
            <!-- <mynav></mynav> -->
            <div v-if="gooduser">
                <form action="" method="post" class="w-full sm:w-2/3 mx-auto">
                <div class="flex flex-col items-start mb-6">
                    <label for="uname" class="text-blue-800 font-bold ">Username</label>
                    <input type="text" name="username" v-model="username" class="w-full h-12 sm:h-16 border-2 border-blue-500 focus:shadow-outline  rounded-tr-full rounded-bl-full pl-8">
                </div>
                <div class="flex flex-col items-start mb-6">
                    <label for="pwd" class="text-blue-800 font-bold ">Password</label>
                    <input type="password" name="password" v-model="password" class="w-full h-12 sm:h-16 border-2 border-blue-500 focus:shadow-outline  rounded-tr-full rounded-bl-full pl-8">
                </div>
                <div class="flex flex-col items-start mb-6">
                    <input type="submit" name="login" @click.prevent="login" class="border-blue-400 border-2 px-12 py-2  rounded-bl-full rounded-tr-full bg-teal-500 hover:bg-blue-500 text-white" value="Login">
                </div>
            </form>
            </div>
            <div v-else>
                <Todo v-bind:currentUser="currentUser"></Todo>
            </div>
        </div>
</template>


<script>
import mynav from "./mynav.vue"

export default {
    name:'Login',
    props:{

    },
    data(){
        return{
            username:'',
            password:'',
            currentUser:null,
            gooduser:true,
        }
    },
    components: {
        mynav,
    },
    methods:{
    },
    computed:{

    },
}
</script>

