<template>
        <nav class="w-full sm:w-2/3 mx-auto navbar navbar-expand-sm bg-dark bg-black flex justify-center pt-6 mb-6 rounded-b md:rounded-bl-full">
            <ul class="navbar-nav flex flex-wrap w-full justify-start justify-center">
            <li class="active mr-4 flex justify-center md:w-32 sm:w-1/3 w-4/5 mb-6 border-b-2 sm:border-b-0 border-teal-700">
                <!-- <a class="text-teal-500 hover:text-white" href="http://127.0.0.1:8000" >Home</a> -->
                <router-link class="text-teal-500 hover:text-white" to="/">Home</router-link>
            </li>
            <li class="mr-4 flex justify-center md:w-32 sm:w-1/3 w-4/5 mb-3 pb-3 border-b-2 sm:border-b-0 border-teal-700">
                <!-- <a class="text-teal-500 hover:text-white" href="" @click.prevent="gotoAbout">About</a> -->
                <router-link class="text-teal-500 hover:text-white" to="/about">About</router-link>
            </li>
            <li class=" sm:mr-4 flex justify-center md:w-32 sm:w-1/3 w-4/5 mb-3 pb-3 border-b-2 sm:border-b-0 border-teal-700">
                <a class="text-teal-500 hover:text-white " href="#" >Help</a>
                <!-- <router-link class="text-teal-500 hover:text-white" to="/">Home</router-link> -->
            </li>
            <li class="mr-4 flex justify-center md:w-32 sm:w-1/3 w-4/5 mb-3 pb-3 border-b-2 sm:border-b-0 border-teal-700">
                <!-- <a class="text-teal-500 hover:text-white" href="" @click.prevent="gotoLogin">TodoList</a> -->
                <router-link class="text-teal-500 hover:text-white" to="/addTodo">AddTodo</router-link>
            </li>
            <li class="mr-4 flex justify-center md:w-32 sm:w-1/3 w-4/5 mb-3 pb-3 border-b-2 sm:border-b-0 border-teal-700">
                <!-- <a class="disabled text-teal-500 hover:text-white" href="#">Events</a> -->
                <router-link class="text-teal-500 hover:text-white" to="/events">Events</router-link>
            </li>
            <li class="mr-4 flex justify-center md:w-32 sm:w-1/3 w-4/5 mb-3 pb-3 border-b-2 sm:border-b-0 border-teal-700">
                <!-- <a class="text-teal-500 hover:text-white" href="http://127.0.0.1:8000"><span class="glyphicon glyphicon-user" ></span> Sign Up</a> -->
                <router-link class="text-teal-500 hover:text-white" to="/signup"><span class="glyphicon glyphicon-user" ></span> Sign Up</router-link>
            </li>
            <li class="mr-4 flex justify-center md:w-32 sm:w-1/3 w-4/5 mb-3 pb-3 border-b-2 sm:border-b-0 border-teal-700">
                <!-- <a class="text-teal-500 hover:text-white" href="http://127.0.0.1:8000/login"><span class="glyphicon glyphicon-log-in" ></span> Login</a> -->
                <router-link class="text-teal-500 hover:text-white" to="/login"><span class="glyphicon glyphicon-log-in" ></span> Login</router-link>
            </li>
            </ul>

        </nav>
</template> 
<script>
import Vue from 'vue'
export default {
    props:{

    },
    data(){
        return{

        }
    },
    methods:{
        gotoLogin(){
            window.location.href = "/login"
            // axios({method: 'GET', url: '/api/login'}).then(
            //     result => {
            //         console.log(result)
            //     },
            //     error => {
            //         console.log(error)
            //     },

            // )
        },
        gotoSignup(){
            window.location.href = "/"
        },
        gotoAbout(){
            window.location.href = "/about"
        },

    },
    computed:{

    },
}
</script>
<style scoped>
    a, a:hover, a:visited{
        text-decoration: none;
        font-size: 1.6rem;
    }

</style>

