<template>
    <div class="contain w-full sm:w-2/3 mx-auto bg-blue-200  flex flex-col justify-start px-6 py-10 -mt-8 text-blue-800 text-2xl italic font-semibold">
        <div>
            <img src="../assets/todo.png" alt="todo icon">
        </div>
        <div>welcome to our todo app, here we provide a means for you to organise your life thus making you more productive. </div>
        <div class="flex flex-col ">
            <div class="mb-4">if you don't yet have an account <router-link to="/signup" class="bg-white px-4 py-2 rounded-full">Create new account</router-link></div>
            <div>if you already have an account <router-link to="/login" class="bg-white px-4 py-2 rounded-full">Sign in</router-link></div>
        </div>
    </div>
</template>

<style scoped>
    a:hover{
        text-decoration: none;
        background-color: #993CF3;
        color:whitesmoke
    }
</style>