<template>
    <div class="contaner flex flex-col items-center">
        <div class="container flex flex-col items-stretch">
        <nav-bar></nav-bar>
        <router-view></router-view>
        <!-- <login></login>
        <signup></signup> -->
    </div>
    </div>
</template>

<script>
    import navBar from './components/mynav.vue';
    import login from './components/login';
    import signup from './components/signup'
    import './assets/css/tailwind.css';
    export default {
        components:{
            'nav-bar':navBar,
            login,
            signup
        },
        directives:{
            customOn:{
                bind(el, binding){
                    // el.onclick = function(){
                    //     binding.value()
                    // }
                    const type = binding.arg;
                    const fn = binding.value;
                    el.addEventListener(type, fn)
                }
            }
        },
        methods:{
            clicked(){
                alert('i was clicked')
            },
            mourseEnter(){
                console.log('Mouse entered!')
            },
            mourseleave(){
                console.log('Mouse left!')
            }
        }
    }
</script>

<style>
        input:focus
{
  border: 0 transparent !important;
  outline: 0 none;
}


</style>
